@import "~/styles/_breakpoints";
@import "~/styles/colors";
@import "~/styles/helpers/_typography";
@import "~/styles/helpers/_layout";

$name: "ga-team";
$block: "." + $name;

$background-color: color("surface", "base");

$content-padding-left-tablet-landscape: 30px;
$content-padding-left-tablet: 45px;
$content-padding-left-mobile: 20px;

$title-color: color("surface", "inverse");

$title-font-size-desktop: 250px;
$title-font-size-tablet: 200px;
$title-font-size-mobile: 120px;

$title-line-height-desktop: 212px;
$title-line-height-desktop-small: 188px;
$title-line-height-tablet: 182px;
$title-line-height-mobile: 181px;

$title-margin-top-widescreen-small: -44px;
$title-margin-top-desktop: 34px;
$title-margin-top-desktop-small: 24px;
$title-margin-left-desktop-small: 10px;
$title-margin-top-tablet-landscape: -29px;
$title-margin-top-tablet: -80px;
$title-margin-top-mobile: 6px;

$title-gap-x-desktop: 26px;
$title-gap-x-desktop-small: 22px;

$title-word-margin-top-tablet: -2px;
$title-word-margin-top-mobile: -73px;

$subtitle-color: color("surface", "inverse");

$subtitle-font-size-desktop: 20px;
$subtitle-font-size-tablet: 20px;
$subtitle-font-size-mobile: 16px;

$subtitle-line-height-desktop: 22px;
$subtitle-line-height-tablet: 22px;
$subtitle-line-height-mobile: 22.4px;

$subtitle-left-desktop: -6px;

$subtitle-margin-left-desktop-small: 4px;
$subtitle-margin-top-tablet-landscape: 5px;
$subtitle-margin-left-tablet-landscape: 4px;
$subtitle-left-tablet-landscape: 31px;

$subtitle-left-tablet: 4px;

$subtitle-margin-top-tablet: 29px;
$subtitle-left-tablet: 46px;

$subtitle-margin-top-mobile: -34px;
$subtitle-left-mobile: 20px;

$scroll-left-tablet: 30px;
$scroll-left-mobile: 20px;

#{$block} {
  @include bp-all {
    background-color: $background-color;
    position: relative;

    & {
      height: 100dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__background {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
    }

    &__background-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: cover;
    }

    &__content {
      position: relative;
      max-width: 1920px;
      box-sizing: border-box;
    }

    &__title {
      font-family: $font-family-accent;
      color: $title-color;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;
    }

    &__subtitle {
      position: absolute;
      color: $subtitle-color;
      right: 0;
      margin: auto;
    }

    &__scroll-icon {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  @include bp-from($bp-widescreen-small) {
    &__title {
      font-size: $title-font-size-desktop;
      line-height: $title-line-height-desktop;
      margin: $title-margin-top-widescreen-small 0 0 0;
      gap: $title-gap-x-desktop;
    }

    &__subtitle {
      font-size: $subtitle-font-size-desktop;
      line-height: $subtitle-line-height-desktop;
      left: $subtitle-left-desktop;
    }
  }

  @include bp-between($bp-widescreen-small, $bp-fullhd) {
    &__title {
      margin: $title-margin-top-desktop 0 0 0;
    }
  }

  @include bp-between($bp-desktop-small, $bp-widescreen-small) {
    &__title {
      font-size: $title-font-size-tablet;
      line-height: $title-line-height-desktop-small;
      margin: $title-margin-top-desktop-small 0 0
        $title-margin-left-desktop-small;
      gap: $title-gap-x-desktop-small;
    }

    &__subtitle {
      font-size: $subtitle-font-size-tablet;
      line-height: $subtitle-line-height-tablet;
      left: $subtitle-margin-left-desktop-small;
    }

    &__scroll-icon {
      left: $scroll-left-tablet;
    }
  }

  @include bp-till($bp-desktop-small) {
    & {
      justify-content: flex-start;
      text-align: left;
    }

    &__title {
      flex-direction: column;
    }

    &__scroll-icon {
      margin: 0;
    }
  }

  @include bp-between($bp-tablet-landscape, $bp-desktop-small) {
    &__content {
      padding-left: $content-padding-left-tablet-landscape;
    }

    &__title {
      margin: $title-margin-top-tablet-landscape 0 0 0;
    }

    &__subtitle {
      margin-top: $subtitle-margin-top-tablet-landscape;
      left: $subtitle-left-tablet-landscape;
    }
  }

  @include bp-between($bp-tablet, $bp-desktop-small) {
    &__title {
      font-size: $title-font-size-tablet;
      line-height: $title-line-height-tablet;
    }

    &__title-word {
      margin-top: $title-word-margin-top-tablet;
    }

    &__subtitle {
      font-size: $subtitle-font-size-tablet;
      line-height: $subtitle-line-height-tablet;
    }

    &__scroll-icon {
      left: $scroll-left-tablet;
    }
  }

  @include bp-between($bp-tablet, $bp-tablet-landscape) {
    &__content {
      padding-left: $content-padding-left-tablet;
    }

    &__title {
      margin: $title-margin-top-tablet 0 0 0;
    }

    &__subtitle {
      margin-top: $subtitle-margin-top-tablet;
      left: $subtitle-left-tablet;
    }
  }

  @include bp-till($bp-tablet) {
    &__content {
      padding-left: $content-padding-left-mobile;
    }

    &__title {
      font-size: $title-font-size-mobile;
      line-height: $title-line-height-mobile;
      margin: $title-margin-top-mobile 0 0 0;
    }

    &__title-word {
      margin-top: $title-word-margin-top-mobile;
    }

    &__subtitle {
      font-size: $subtitle-font-size-mobile;
      font-weight: 400;
      line-height: $subtitle-line-height-mobile;
      margin-top: $subtitle-margin-top-mobile;
      left: $subtitle-left-mobile;
    }

    &__scroll-icon {
      left: $scroll-left-mobile;
    }
  }
}
