$font-family-primary: "GraphikLCG", "Helvetica", "Arial", sans-serif;
$font-family-accent: "Druk Cy", "Helvetica", "Arial", sans-serif;

$font-family-secondary: "DrukText", sans-serif;

$line-height-primary: 1.4;

$letter-spacing-expanded: 1.4px;
$letter-spacing-masked: 1.2px;
$letter-spacing-condensed: -0.2px;
$letter-spacing-extra-condensed: -0.4px;
