@use '../../utils' as utils;

@mixin set-heading($theme) {
  font-size: utils.get-property($theme, font-size);
  font-weight: utils.get-property($theme, font-weight);
  line-height: utils.get-property($theme, line-height);

  letter-spacing: utils.get-property($theme, letter-spacing);
}
