@import "~/styles/_variables";
@import "~/styles/colors";
@import "~/styles/_breakpoints";
@import "~/styles/helpers/_layout";
@import "~/styles/helpers/_typography";

$name: "ga-footer";
$block: "." + $name;

// footer
$background: #101010;
$footer-padding-top-desktop: 83px;
$footer-padding-bottom-desktop: 74px;
$footer-padding-x-desktop: 40px;

$footer-padding-y-desktop-small: 58px;
$footer-padding-x-desktop-small: 40px;

$footer-padding-top-tablet: 100px;
$footer-padding-bottom-tablet: 80px;
$footer-padding-x-tablet: 45px;
$footer-padding-top-mobile: 50px;
$footer-padding-bottom-mobile: 15px;
$footer-padding-x-mobile: 20px;

// container
$container-margin-bottom-tablet: 20px;

// col
$col-width-desktop: 50%;
$col-column-gap-desktop: 130px;
$col-column-gap-desktop-small: 100px;

// icon
$icon-size-desktop: 90px;
$icon-size-desktop-small: 75px;
$icon-size-tablet: 61px;
$icon-size-mobile: 55px;

// content
$content-margin-top-tablet: 34px;
$content-margin-bottom-tablet: 40px;

$content-margin-top-mobile: 33px;
$content-margin-bottom-mobile: 40px;
$content-row-gap-mobile: 9px;

// title
$title-color: color("surface", "inverse");
$title-font-weight-bold: 500;
$title-line-height: 22.4px;

// description
$description-font-weight: 400;
$description-column-gap-desktop: 15px;
$description-margin-top-desktop: 9px;
$description-font-size: 14px;
$description-row-gap-mobile: 7px;
$description-max-width-mobile: 400px;

#{$block} {
  @include bp-all {
    & {
      color: #fff;
      background: $background;
      box-sizing: border-box;
    }

    &__container {
      margin: 0 auto;
    }

    &__icon {
      flex-shrink: 0;
    }

    &__title,
    &__description {
      line-height: $title-line-height;
    }

    &__title {
      font-weight: $title-font-weight-bold;
    }

    &__description {
      font-weight: $description-font-weight;
      display: flex;
    }

    &__link {
      color: $title-color;
      text-decoration: none;
    }
  }

  @include bp-from($bp-widescreen-small) {
    & {
      padding: $footer-padding-top-desktop $footer-padding-x-desktop
        $footer-padding-bottom-desktop;
    }

    &__icon {
      width: $icon-size-desktop;
      height: $icon-size-desktop;
    }

    &__col {
      column-gap: $col-column-gap-desktop;
    }
  }

  @include bp-between($bp-desktop-tilda, $bp-widescreen-small) {
    &__col {
      column-gap: $col-column-gap-desktop-small;
    }
  }

  @include bp-between($bp-desktop-small, $bp-widescreen-small) {
    & {
      padding: $footer-padding-y-desktop-small $footer-padding-x-desktop-small;
    }

    &__icon {
      width: $icon-size-desktop-small;
      height: $icon-size-desktop-small;
    }
  }

  @include bp-from($bp-desktop-tilda) {
    &__container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: $grid-inner;
    }

    &__col {
      width: $col-width-desktop;
      display: flex;
      align-items: center;
    }
  }

  @include bp-between($bp-tablet, $bp-desktop-tilda) {
    &__content {
      margin: $content-margin-top-tablet 0 $content-margin-bottom-tablet;
    }
  }

  @include bp-between($bp-tablet, $bp-desktop-small) {
    & {
      padding: $footer-padding-top-tablet $footer-padding-x-tablet
        $footer-padding-bottom-tablet;
    }

    &__container {
      margin-bottom: $container-margin-bottom-tablet;
    }

    &__icon {
      width: $icon-size-tablet;
      height: $icon-size-tablet;
    }

    &__description {
      max-width: $description-max-width-mobile;
    }
  }

  @include bp-from($bp-tablet) {
    &__description {
      column-gap: $description-column-gap-desktop;
      margin-top: $description-margin-top-desktop;
    }
  }

  @include bp-till($bp-tablet) {
    & {
      padding: $footer-padding-top-mobile $footer-padding-x-mobile
        $footer-padding-bottom-mobile;
    }

    &__icon {
      width: $icon-size-mobile;
      height: $icon-size-mobile;
    }

    &__content {
      display: flex;
      flex-direction: column;
      row-gap: $content-row-gap-mobile;
      margin: $content-margin-top-mobile 0 $content-margin-bottom-mobile;
    }

    &__description {
      flex-direction: column;
      row-gap: $description-row-gap-mobile;
      font-size: $description-font-size;
    }

    &__slash {
      display: none;
    }
  }
}
