@import "~/styles/_variables";
@import "~/styles/_breakpoints";
@import "~/styles/colors";
@import "~/styles/helpers/_typography";
@import "~/styles/helpers/_layout";

$name: "ga-header";
$block: "." + $name;

// icon
$icon-size-desktop: 90px;
$icon-size-desktop-small: 75px;
$icon-size-tablet-large: 60px;
$icon-size-tablet: 80px;
$icon-size-mobile: 55px;

// header
$header-padding-y-desktop: 40px;
$header-padding-x-desktop: 40px;

$header-padding-y-desktop-small: 20px;

$header-padding-y-tablet-landscape: 30px;
$header-padding-x-tablet-landscape: 30px;

$header-padding-y-tablet: 40px;
$header-padding-x-tablet: 45px;

$header-padding-y-mobile: 27px;
$header-padding-x-mobile: 20px;

// nav
$nav-column-gap-desktop: 40px;
$nav-column-gap-desktop-small: 35px;

$nav-row-gap-tablet: 30px;
$nav-row-gap-mobile: 15px;

// link
$link-color-desktop: #fff;
$link-color-inverse-desktop: #000;
$link-font-weight: 500;
$link-column-gap-desktop: 15px;
$link-font-size-desktop: 14px;
$link-line-height-desktop: 19.6px;
$link-margin-top-desktop: 1px;

$link-font-size-tablet: 35px;
$link-line-height-tablet: 38.5px;
$link-margin-top-tablet: 62px;
$link-column-gap-tablet: 37px;
$link-letter-spacing-tablet: 1px;
$link-translateY-tablet: -1px;

$link-font-size-mobile: 30px;
$link-line-height-mobile: 33px;
$link-margin-top-mobile: 59px;
$link-column-gap-mobile: 19px;
$link-color-mobile: #000;
$link-letter-spacing-mobile: 0.5px;
$link-translateY-mobile: -3px;

// nav-link
$nav-link-font-size-tablet: 90px;
$nav-link-line-height-tablet: 99px;

$nav-link-font-size-mobile: 55px;
$nav-link-line-height-mobile: 60.5px;

// arrow
$arrow-width: 15px;
$arrow-margin-top: -1px;

// arrow-long
$arrow-long-width: 58px;
$arrow-long-margin-top: 5px;

$arrow-long-width-mobile: 28px;

// container
$container-padding-y-tablet: 40px;
$container-padding-x-tablet: 45px;

$container-padding-x-mobile: 20px;

// modal-header
$modal-header-padding-y-tablet: 60px;
$modal-header-padding-y-mobile: 30px;

// burger
$burger-open-color: #fff;
$burger-open-color-inverse: #000;

$burger-top-tablet: -10px;
$burger-close-right-tablet: -5px;

$burger-width-mobile: 40px;
$burger-top-mobile: -12px;

$burger-close-width-mobile: 15px;
$burger-close-top-mobile: -4px;

$transition-speed: 0.25s;

#{$block} {
  @include bp-all {
    & {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: $grid-inner;
      margin: 0 auto;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }

    &__icon {
      display: block;
      flex-shrink: 0;
      position: relative;
      z-index: 2;
    }

    &__nav {
      display: flex;
      justify-content: center;
    }

    &__nav-link,
    &__link {
      cursor: pointer;
    }

    &__link {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      text-decoration: none;
    }

    &__nav-link {
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        left: 1px;
        right: 1px;
        background: currentColor;
        transition: 0.15s ease-in-out;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  @include bp-from($bp-widescreen-small) {
    & {
      padding: $header-padding-y-desktop $header-padding-x-desktop;
    }

    &__nav {
      column-gap: $nav-column-gap-desktop;
    }

    &__icon {
      width: $icon-size-desktop;
      height: $icon-size-desktop;
    }
  }

  @include bp-between($bp-desktop-small, $bp-widescreen-small) {
    & {
      padding: $header-padding-y-desktop-small $header-padding-x-desktop;
    }

    &__nav {
      column-gap: $nav-column-gap-desktop-small;
    }

    &__icon {
      width: $icon-size-desktop-small;
      height: $icon-size-desktop-small;
    }
  }

  @include bp-from($bp-tablet-large) {
    &__nav {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      margin: auto;
    }

    &__nav-link,
    &__link {
      color: $link-color-desktop;
      font-size: $link-font-size-desktop;
      font-weight: $link-font-weight;
      line-height: $link-line-height-desktop;
      margin-top: $link-margin-top-desktop;
      transition: color $transition-speed ease-in-out;
    }

    &__link {
      column-gap: $link-column-gap-desktop;
    }

    &__arrow {
      width: $arrow-width;
      stroke: $link-color-desktop;
      margin-top: $arrow-margin-top;
    }

    &_inverse {
      #{$block}__nav-link,
      #{$block}__link {
        color: $link-color-inverse-desktop;
      }

      #{$block}__arrow {
        stroke: $link-color-inverse-desktop;
      }
    }

    &__desktop {
      display: block;
    }

    &__mobile {
      display: none;
    }
  }

  @include bp-till($bp-tablet-large) {
    &__modal {
      display: flex;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: $color-brand;
      transform: translateX(100%);
      transition: transform $transition-speed ease-in-out;

      &_show {
        transform: translateX(0%);
      }
    }

    &__modal-header {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    &__burger {
      position: relative;
    }

    &__nav {
      flex-direction: column;
    }

    &__nav-link,
    &__link {
      font-weight: $link-font-weight;
      color: $link-color-mobile;
    }

    &__nav-link {
      font-family: $font-family-accent;
      letter-spacing: $link-letter-spacing-tablet;

      &:after {
        display: none;
      }
    }

    &__desktop {
      display: none;
    }

    &__mobile {
      display: block;
    }
  }

  @include bp-between($bp-tablet-large, $bp-desktop-small) {
    & {
      padding: $header-padding-y-tablet-landscape
        $header-padding-x-tablet-landscape;
    }

    &__icon {
      width: $icon-size-tablet-large;
      height: $icon-size-tablet-large;
    }

    &__nav {
      column-gap: $nav-column-gap-desktop-small;
    }
  }

  @include bp-between($bp-tablet, $bp-tablet-large) {
    & {
      padding: $header-padding-y-tablet $header-padding-x-tablet;
    }

    &__modal-header {
      padding: $modal-header-padding-y-tablet $header-padding-x-tablet;
    }

    &__container {
      padding: 0 $container-padding-x-tablet;
    }

    &__icon {
      width: $icon-size-tablet;
      height: $icon-size-tablet;
    }

    &__nav {
      row-gap: $nav-row-gap-tablet;
    }

    &__nav-link {
      font-size: $nav-link-font-size-tablet;
      line-height: $nav-link-line-height-tablet;
    }

    &__link {
      font-family: $font-family-secondary;
      font-size: $link-font-size-tablet;
      line-height: $link-line-height-tablet;
      margin-top: $link-margin-top-tablet;
      column-gap: $link-column-gap-tablet;
      letter-spacing: $link-letter-spacing-tablet;
      transform: translateY($link-translateY-tablet);
    }

    &__arrow-long {
      width: $arrow-long-width;
      margin-top: $arrow-long-margin-top;
    }

    &__burger {
      position: relative;
      top: $burger-top-tablet;
    }

    &__modal {
      #{$block}__burger {
        top: 0;
        right: $burger-close-right-tablet;
      }
    }
  }

  @include bp-till($bp-tablet-large) {
    &__burger {
      width: $burger-width-mobile;
      top: $burger-top-mobile;
      color: $burger-open-color;
      transition: color 0.25s ease-in-out;
    }

    &_inverse {
      #{$block}__burger {
        color: $burger-open-color-inverse;
      }
    }
  }

  @include bp-till($bp-tablet) {
    & {
      padding: $header-padding-y-mobile $header-padding-x-mobile;
    }

    &__modal-header {
      padding: $modal-header-padding-y-mobile $header-padding-x-mobile;
    }

    &__container {
      padding: 0 $container-padding-x-mobile;
    }

    &__icon {
      width: $icon-size-mobile;
      height: $icon-size-mobile;
    }

    &__nav {
      row-gap: $nav-row-gap-mobile;
    }

    &__nav-link {
      font-size: $nav-link-font-size-mobile;
      line-height: $nav-link-line-height-mobile;
    }

    &__link {
      font-family: $font-family-accent;
      font-size: $link-font-size-mobile;
      line-height: $link-line-height-mobile;
      letter-spacing: $link-letter-spacing-mobile;
      margin-top: $link-margin-top-mobile;
      column-gap: $link-column-gap-mobile;
      transform: translateY($link-translateY-mobile);
    }

    &__arrow-long {
      width: $arrow-long-width-mobile;
    }

    &__modal {
      #{$block}__burger {
        width: $burger-close-width-mobile;
        top: $burger-close-top-mobile;
      }
    }
  }
}
