@import '~/styles/_breakpoints';
@import '~/styles/helpers/_typography';

$name: 'ga-partnership';
$block: '.' + $name;


$content-padding-mobile: 79px 20px 80px;
$content-padding-tablet: 98px 48px 100px 0;
$content-padding-desktop: 180px 100px 180px 0;
$content-padding-desktop-large: 240px 100px 240px 0;


$phones-width-mobile: 100%;
$phones-width-tablet: 300px;
$phones-width-desktop: 450px;
$phones-width-desktop-large: 530px;

$phones-offset-mobile: 13px;
$phones-offset-tablet: -333px;
$phones-offset-desktop: -580px;
$phones-offset-desktop-large: -677px;

$phones-transform-mobile: translateY(0);
$phones-transform-tablet: translateY(0);
$phones-transform-desktop: translateY(0);
$phones-transform-desktop-large: translateY(1%);


$items-offset-mobile: 9px;
$items-offset-tablet: 49px;
$items-offset-desktop: 48px;


$title-font-size-mobile: 60px;
$title-font-size-tablet: 70px;
$title-font-size-desktop: 80px;


$item-offset-mobile: 28px;
$item-offset-tablet: 40px;
$item-offset-desktop: 52px;


$item-text-font-size-mobile: 18px;
$item-text-font-size-tablet: 18px;
$item-text-font-size-desktop: 18px;

$item-text-offset-mobile: 20px;
$item-text-offset-tablet: 20px;
$item-text-offset-desktop: 20px;


$action-max-width-mobile: none;
$action-max-width-tablet: 335px;
$action-max-width-desktop: 335px;


$action-offset-mobile: 59px;
$action-offset-tablet: 80px;
$action-offset-desktop: 80px;


#{$block} {
  @include bp-all {
    & {
      position: relative;
    }

    &__content {
      position: relative;
    }

    &__phones {
      position: absolute;
      top: 0;
      bottom: 0;
      pointer-events: none;
      user-select: none;
    }

    &__phones-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }


    &__title {
      font-family: $font-family-accent;
      font-weight: 500;
      line-height: 90%;
      margin: 0;
    }


    &__items {
      max-width: 470px;
    }


    &__item {
      display: flex;
      align-items: center;
    }

    &__item-icon {
      flex-shrink: 0;
    }

    &__item-text {
      font-weight: 500;
      line-height: 140%;
    }

    &__action {
      width: 100%;
    }
  }

  @include bp-till($bp-tablet) {
    &__content {
      padding: $content-padding-mobile;
      display: flex;
      flex-direction: column;
    }

    &__phones {
      width: $phones-width-mobile;
      margin: $phones-offset-mobile 0 0;
      transform: $phones-transform-mobile;

      position: static;
    }

    &__phones-img {
      position: static;
    }

    &__heading {
      order: -1;
    }

    &__title {
      font-size: $title-font-size-mobile;
    }

    &__items {
      margin: $items-offset-mobile 0 0;
    }

    &__item + &__item {
      margin: $item-offset-mobile 0 0;
    }

    &__item-text {
      font-size: $item-text-font-size-mobile;
      margin: 0 0 0 $item-text-offset-mobile;
    }

    &__action {
      margin: $action-offset-mobile 0 0;
      max-width: $action-max-width-mobile;
    }
  }

  @include bp-between($bp-tablet, $bp-desktop-large) {
    &__content {
      margin: 0 0 0 50%;
      padding: $content-padding-tablet;
    }

    &__phones {
      width: $phones-width-tablet;
      left: $phones-offset-tablet;
      transform: $phones-transform-tablet;
    }

    &__title {
      font-size: $title-font-size-tablet;
    }

    &__items {
      margin: $items-offset-tablet 0 0;
    }

    &__item + &__item {
      margin: $item-offset-tablet 0 0;
    }

    &__item-text {
      font-size: $item-text-font-size-tablet;
      margin: 0 0 0 $item-text-offset-tablet;
    }

    &__action {
      margin: $action-offset-tablet 0 0;
      max-width: $action-max-width-tablet;
    }
  }

  @include bp-from($bp-desktop-large) {
    &__content {
      margin: 0 0 0 50%;
      padding: $content-padding-desktop;
    }

    &__phones {
      width: $phones-width-desktop;
      left: $phones-offset-desktop;
      transform: $phones-transform-desktop;
    }

    &__title {
      font-size: $title-font-size-desktop;
    }

    &__items {
      margin: $items-offset-desktop 0 0;
    }

    &__item + &__item {
      margin: $item-offset-desktop 0 0;
    }

    &__item-text {
      font-size: $item-text-font-size-desktop;
      margin: 0 0 0 $item-text-offset-desktop;
    }

    &__action {
      margin: $action-offset-desktop 0 0;
      max-width: $action-max-width-desktop;
    }
  }

  @include bp-from($bp-fullhd) {
    &__content {
      padding: $content-padding-desktop-large;
    }

    &__phones {
      width: $phones-width-desktop-large;
      left: $phones-offset-desktop-large;
      transform: $phones-transform-desktop-large;
    }
  }
}
