@import "~/styles/_variables";
@import "~/styles/_breakpoints";
@import "~/styles/colors";
@import "~/styles/helpers/_typography";
@import "~/styles/helpers/_layout";

$name: "ga-our-products";
$block: "." + $name;

// section
$background-color: #101010;
$section-y-desktop: 143px;
$section-padding-y-desktop-small: 124px;
$section-padding-y-tablet-landscape: 92px;
$section-padding-x-tablet-landscape: 30px;
$section-padding-y-tablet: 132px;
$section-padding-x-tablet: 45px;
$section-padding-y-mobile: 101px;
$section-padding-x-mobile: 20px;

// title
$title-font-weight: 500;
$title-color: color("surface", "inverse");

$title-font-size-desktop: 150px;
$title-letter-spacing-desktop: 2px;
$title-line-height-desktop: 1;
$title-margin-left-desktop: 4px;
$title-font-size-desktop-small: 130px;
$title-margin-left-desktop-small: 4px;
$title-letter-mobile: 1px;
$title-font-size-mobile: 85px;
$title-letter-spacing-mobile: 63.75px;

// list
$list-margin-top-desktop: 133px;
$list-row-gap-desktop: 120px;
$list-row-gap-desktop-small: 100px;
$list-margin-top-desktop-small: 114px;
$list-row-gap-tablet-landscape: 80px;
$list-margin-top-tablet-landscape: 93px;
$list-row-gap-tablet: 90px;
$list-margin-top-tablet: 63px;
$list-row-gap-mobile: 100px;
$list-margin-top-mobile: 75px;

// col
$col-width-desktop: 50%;
$col-padding-x-desktop: 100px;
$col-padding-x-desktop-small: 80px;
$col-padding-x-tablet-landscape: 40px;
$col-padding-x-tablet: 40px;

// item
$item-row-gap-tablet: 31px;
$item-row-gap-mobile: 21px;

// content-title
$content-title-font-size-desktop: 100px;
$content-title-line-height-desktop: 80px;
$content-title-letter-spacing-desktop: 1px;
$content-title-font-size-desktop-small: 80px;
$content-title-line-height-desktop-small: 64px;
$content-title-font-size-tablet-landscape: 65px;
$content-title-line-height-tablet-landscape: 58.5px;
$content-title-letter-tablet-landscape: 1px;
$content-title-font-size-tablet: 70px;
$content-title-line-height-tablet: 63px;
$content-title-letter-tablet: 1px;
$content-title-font-size-mobile: 50px;
$content-title-line-height-mobile: 45px;
$content-title-letter-mobile: 1px;

// content-description
$content-description-font-weight-desktop: 400;
$content-description-line-height-desktop: 25.6px;
$content-description-margin-top-desktop: 26px;
$content-description-margin-bottom-desktop: 41px;
$content-description-max-width-desktop: 81.2044%;
$content-description-max-width-tablet-landscape: 90%;
$content-description-line-tablet-landscape: 22.4px;
$content-description-margin-top-tablet-landscape: 19px;
$content-description-margin-bottom-tablet-landscape: 33px;
$content-description-margin-top-tablet: 18px;
$content-description-margin-bottom-tablet: 34px;
$content-description-font-size-mobile: 14px;
$content-description-line-mobile: 22.4px;
$content-description-margin-top-mobile: 14px;
$content-description-margin-bottom-mobile: 29px;

// action
$action-max-width: 243px;

#{$block} {
  @include bp-all {
    background-color: $background-color;

    &__title {
      font-family: $font-family-accent;
      font-weight: $title-font-weight;
      color: $title-color;
      letter-spacing: $title-letter-spacing-desktop;
      line-height: $title-line-height-desktop;
      margin: 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    &__item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: left;
    }

    &__col {
      color: $title-color;
      box-sizing: border-box;
    }

    &__img {
      display: block;
      width: 100%;
    }

    &__content-title {
      font-family: $font-family-accent;
      font-weight: $title-font-weight;
    }

    &__content-description {
      font-weight: $content-description-font-weight-desktop;
    }

    &__action {
      max-width: $action-max-width;
    }
  }

  @include bp-from($bp-desktop-small) {
    & {
      text-align: center;
    }

    &__list {
      max-width: $grid-inner;
    }

    &__content-description {
      max-width: $content-description-max-width-desktop;
    }
  }

  @include bp-from($bp-widescreen-small) {
    & {
      padding: $section-y-desktop 0;
    }

    &__item:nth-child(odd) {
      #{$block}__col {
        &:last-child {
          padding-left: $col-padding-x-desktop;
        }
      }
    }

    &__item:nth-child(even) {
      #{$block}__col {
        &:last-child {
          padding-right: $col-padding-x-desktop;
        }
      }
    }

    &__title {
      font-size: $title-font-size-desktop;
      margin-left: $title-margin-left-desktop;
    }

    &__list {
      row-gap: $list-row-gap-desktop;
      margin-top: $list-margin-top-desktop;
    }

    &__content-title {
      font-size: $content-title-font-size-desktop;
      line-height: $content-title-line-height-desktop;
      letter-spacing: $content-title-letter-spacing-desktop;
    }
  }

  @include bp-from($bp-desktop-small) {
    &__content-description {
      line-height: $content-description-line-height-desktop;
      margin: $content-description-margin-top-desktop 0
        $content-description-margin-bottom-desktop 0;
    }
  }

  @include bp-between($bp-desktop-small, $bp-widescreen-small) {
    & {
      padding: $section-padding-y-desktop-small 0;
    }

    &__item:nth-child(odd) {
      #{$block}__col {
        &:last-child {
          padding-left: $col-padding-x-desktop-small;
        }
      }
    }

    &__item:nth-child(even) {
      #{$block}__col {
        &:last-child {
          padding-right: $col-padding-x-desktop-small;
        }
      }
    }

    &__title {
      font-size: $title-font-size-desktop-small;
      margin-left: $title-margin-left-desktop-small;
    }

    &__list {
      row-gap: $list-row-gap-desktop-small;
      margin-top: $list-margin-top-desktop-small;
    }

    &__content-title {
      font-size: $content-title-font-size-desktop-small;
      line-height: $content-title-line-height-desktop-small;
      letter-spacing: $content-title-letter-spacing-desktop;
    }
  }

  @include bp-between($bp-tablet-large, $bp-desktop-small) {
    & {
      padding: $section-padding-y-tablet-landscape
        $section-padding-x-tablet-landscape;
    }

    &__item:nth-child(odd) {
      #{$block}__col {
        &:last-child {
          padding-left: $col-padding-x-tablet-landscape;
        }
      }
    }

    &__item:nth-child(even) {
      #{$block}__col {
        &:last-child {
          padding-right: $col-padding-x-tablet-landscape;
        }
      }
    }

    &__title {
      font-size: $title-font-size-desktop-small;
    }

    &__list {
      row-gap: $list-row-gap-tablet-landscape;
      margin-top: $list-margin-top-tablet-landscape;
    }

    &__content-title {
      font-size: $content-title-font-size-tablet-landscape;
      line-height: $content-title-line-height-tablet-landscape;
      letter-spacing: $content-title-letter-tablet-landscape;
    }

    &__content-description {
      max-width: $content-description-max-width-tablet-landscape;
      line-height: $content-description-line-tablet-landscape;
      margin: $content-description-margin-top-tablet-landscape 0
        $content-description-margin-bottom-tablet-landscape 0;
    }
  }

  @include bp-from($bp-tablet-large) {
    &__item:nth-child(odd) {
      #{$block}__content-description {
        margin-right: auto;
      }
    }

    &__item:nth-child(even) {
      text-align: right;

      #{$block}__col {
        &:first-child {
          order: 1;
        }
      }

      #{$block}__content-description {
        margin-left: auto;
      }

      #{$block}__img {
        transform: scale(-1, 1);
      }
    }

    &__col {
      width: $col-width-desktop;
    }
  }

  @include bp-between($bp-tablet, $bp-tablet-large) {
    & {
      padding: $section-padding-y-tablet $section-padding-x-tablet;
    }

    &__title {
      font-size: $title-font-size-desktop-small;
    }

    &__list {
      row-gap: $list-row-gap-tablet;
      margin-top: $list-margin-top-tablet;
    }

    &__item {
      row-gap: $item-row-gap-tablet;
    }

    &__content-title {
      font-size: $content-title-font-size-tablet;
      line-height: $content-title-line-height-tablet;
      letter-spacing: $content-title-letter-tablet;
    }

    &__content-description {
      line-height: $content-description-line-tablet-landscape;
      margin: $content-description-margin-top-tablet 0
        $content-description-margin-bottom-tablet 0;
    }
  }

  @include bp-till($bp-tablet) {
    & {
      padding: $section-padding-y-mobile $section-padding-x-mobile;
    }

    &__title {
      font-size: $title-font-size-mobile;
      line-height: $title-letter-spacing-mobile;
      letter-spacing: $title-letter-mobile;
    }

    &__list {
      row-gap: $list-row-gap-mobile;
      margin-top: $list-margin-top-mobile;
    }

    &__item {
      row-gap: $item-row-gap-mobile;
    }

    &__content-title {
      font-size: $content-title-font-size-mobile;
      line-height: $content-title-line-height-mobile;
      letter-spacing: $content-title-letter-mobile;
    }

    &__content-description {
      font-size: $content-description-font-size-mobile;
      line-height: $content-description-line-mobile;
      margin: $content-description-margin-top-mobile 0
        $content-description-margin-bottom-mobile 0;
    }
  }
}
